@font-face {
  font-family: Bangers;
  src: url(bangers.ttf);
}
* {
  font-family: Bangers, serif;
}

html, body {
  padding: 0;
  margin: 0;
}

#page {
  width: 100%;
  height: 100%;
}

@import "wrap/wrap";
@import "logo/logo";
@import 'score/score';
@import "menu/menu";
@import "alert-box/alert-box";
@import "scoreboard/scoreboard";
@import "text-input/text-input";
@import "submit-input/submit-input";
@import "webcam/webcam";