.room__profile{
  float: left;
  width: 250px;
  height: 300px;
  margin-left: 190px;
  margin-top: 50px;
}
.room__profile__status {
  width: 200px;
  margin: 20px 30px 20px 30px;

}
.text {
  font-size: 50px;
  margin-right: 20px;
}
.ready-button {
  position: relative;
  font-size: 25px;
  width: 100%;
  height: 40px;
  background-color: #039BE5;
}