.room__profile{
  float: left;
  width: 200px;
  margin-left: 190px;
  margin-top: 50px;
}
.room__profile_status {
  width: 130px;
  margin: 20px 30px 20px 30px;

}
.text {
  font-size: 30px;
  position: relative;
  left: 30%;
}
.room__profile_current-user-ready-button,
.room__profile_users-ready-button {
  top: 20px;
  position: relative;
  font-size: 25px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #B71C1C;
}
.room__profile-wrapper{
  height: 140px;
}