.alert-box {
  position: absolute;
  right: 0;
  height: 30px;
  color:#555;
  border-radius:15px;
  font-family:Tahoma,Geneva,Arial,sans-serif;
  font-size:22px;
  padding:10px 10px 10px 10px;
  margin:10px;
  background:#ffecec;
  border:1px solid #f01510;
}